Source/CMPT276-25748/target/*
Source/CMPT276-25748/.settings/*
Source/CMPT276-25748/.classpath
Source/CMPT276-25748/.project
Source/CMPT276-25748/.settings/
Source/CMPT276-25748/target/
Source/CMPT276-25748/src/.DS_Store
Source/CMPT276-25748/src/resources/.DS_Store
out/